.home {
  background-color: lightpink;
  padding-bottom: 20vh;
}

.main-header {
    background-color: white;
    text-align: center;
    font-size:5vh;
    padding: 5vh;
    color: lightpink;
}

.home-container {
    width: 60%;
    margin: auto;
}





.product-count {
    margin-top: 5vh;
}

.products-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0% 5%;
}

.show-more {
    background: none;
    border: none;
    padding: 5vh;
    font-size: 3vh;
    display: block;
    margin: auto;
}
.show-more:hover {
    cursor: pointer;
    color: gray;
}